@use "sass:map";

* {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    max-width: 1470px;
    padding: 0 15px;
    margin: 0 auto;

    @media (max-width: map.get($screen-max-widths, xxl)) {
        max-width: map.get($container-max-widths, xxl);
    }
    @media (max-width: map.get($screen-max-widths, xl)) {
        max-width: map.get($container-max-widths, xl);
    }
    @media (max-width: map.get($screen-max-widths, lg)) {
        max-width: map.get($container-max-widths, lg);
    }
    @media (max-width: map.get($screen-max-widths, md)) {
        max-width: map.get($container-max-widths, md);
    }
    @media (max-width: map.get($screen-max-widths, sm)) {
        max-width: map.get($container-max-widths, sm);
    }
}


.title {
    @include font('Rubik-Bold', normal, 36px, $color-dark);
    line-height: 43px;

    
    @media (max-width: map.get($screen-max-widths, xl)) {
        font-size: 32px;
        line-height: 38.44px;
    }

    @media (max-width: map.get($screen-max-widths, lg)) {
        font-size: 24px;
        line-height: 28.44px;
    }
}

.text {
    @include font('Rubik-Regular', normal, 18px, $color-gray);
    line-height: 36px;

    @media (max-width: map.get($screen-max-widths, xl)) {
        font-size: 16px;
        line-height: 32px;
    }

    @media (max-width: map.get($screen-max-widths, md)) {
        font-size: 12px;
        line-height: 24px;
    }
}