<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ meta_description }}">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.min.css">
    <title>{{ title }}</title>
</head>
<body>
        {% include "_html/_includes/_header.html" %}

    <main>
        {% include "_html/_includes/_section-hero.html" %}
        {% include "_html/_includes/_section-welcome.html" %}
        {% include "_html/_includes/_section-capture.html" %}

        {% block content %}
            <p>Тут какой то блок content</p>
        {% endblock %}
    </main>
    {% include "_html/_includes/_footer.html" %}

    <script src="/libs/jquery.min.js"></script>
    <script src="/assets/js/custom.min.js"></script>
</body>
</html>