header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.top-menu {

    @include font('Rubik-Medium', normal, 16px, $color-grey);

    &__list {
        display: flex;
        justify-content: flex-end;
    }

    &__item:not(:last-child) {
        margin-right: 60px;
    }

    &__link:hover {
        opacity: 0.7;
    }

} 