@use "sass:map";

.functions {
  position: relative;
  z-index: 3;
  min-height: 300px;
  padding-bottom: 60px;


  @media (max-width: map.get($screen-max-widths, lg)) {
    padding-bottom: 45px;
  }
  @media (max-width: map.get($screen-max-widths, sm)) {
    padding-bottom: 30px;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(45deg, rgba(215, 211, 221, 0.1) 14%, rgba(223, 212, 238, 0.1));
    border: 1px solid rgba(255, 255, 255, 0.12        );
    border-radius: 30px;
    backdrop-filter: blur(20px);

  }

  &-ball {
    content: '';
    position: absolute;
    right: 8%;
    top: -100px;
    bottom: 0;
    z-index: -2;

    @media (max-width: map.get($screen-max-widths, lg)) {
      max-width: 151px;
      top: -60px;
    }
  }

  &-cylinder {
    content: '';
    position: absolute;
    left: 0;
    top: 300px;
    bottom: 0;
    z-index: -2;

    @media (max-width: map.get($screen-max-widths, lg)) {
      max-width: 151px;
    }
  }

  &-cylinder-right {
    content: '';
    position: absolute;
    right: 0;
    top: 500px;
    bottom: 0;
    z-index: -2;
    @media (max-width: map.get($screen-max-widths, lg)) {
      max-width: 50%;
    }
  }

  &-title {
    padding: 100px 0;
    span {
      color: $accent-color;
    }

    @media (max-width: map.get($screen-max-widths, lg)) {
      padding: 75px 0;
    }

    @media (max-width: map.get($screen-max-widths, sm)) {
      text-align: center;
      padding: 30px 0;
    }
  }

  &-list {
    @include flex(flex-start, space-between);
    flex-wrap: wrap;
  }

  &-item {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    width: 30%;

    @media (max-width: map.get($screen-max-widths, lg)) {
      width: 100%;
      flex-direction: row;
      margin-bottom: 60px;
    }

    @media (max-width: map.get($screen-max-widths, sm)) {
      width: 100%;
      flex-direction: column;
      margin-bottom: 40px;

    }

    .item-icon {
      margin-bottom: 40px;

      @media (max-width: map.get($screen-max-widths, lg)) {
        margin-bottom:0;
        margin-right: 60px;
      }

      @media (max-width: map.get($screen-max-widths, sm)) {
        margin: 0 auto 30px;
      }

      &__image {
        max-height: 111px;
        object-fit: cover;

        @media (max-width: map.get($screen-max-widths, xl)) {
          max-width: 80px;
        }
      }
    }

    .item-text {
      @media (max-width: map.get($screen-max-widths, sm)) {
        text-align: center;
      }

      .text-title {
        @include flex(flex-start, flex-start);
        padding-bottom: 60px;

        @media (max-width: map.get($screen-max-widths, lg)) {
          padding-bottom: 30px;
        }

        @media (max-width: map.get($screen-max-widths, sm)) {
          padding-bottom: 20px;
          justify-content: center;
          text-align: center;
        }


        &__number {
          @include font('Rubik-Bold', normal, 36px, $accent-color);
          padding-right: 50px;

          @media (max-width: map.get($screen-max-widths, lg)) {
            padding-right: 30px;
            font-size: 20px;
          }
        }

        &__title {
          @include font('Rubik-Medium', normal, 24px, $color-dark);
          max-width: 100px;

          @media (max-width: map.get($screen-max-widths, lg)) {
            font-size: 18px;
          }
          @media (max-width: map.get($screen-max-widths, sm)) {
            max-width: max-content;
          }
        }

      }

      &__description {
        @include font('Rubik-Regular', normal, 18px, $color-gray);
        line-height: 200%;
        padding-right: 15px;

        @media (max-width: map.get($screen-max-widths, lg)) {
          font-size: 14px;
        }
        @media (max-width: map.get($screen-max-widths, sm)) {
          font-size: 12px;
          padding-left: 15px;

        }

        &:not(:last-child) {
          padding-bottom: 30px;
        }
      }
    }

  }


}