@use "sass:map";

.click {
  position:relative;

  &-bg {
    position: absolute;
    right: 0;
    top: -200px;
    z-index: -1;

    @media (max-width: map.get($screen-max-widths, xl)) {
      width: 60%;
      top:0;
    }
  }
}