@use "sass:map";

.faq {
  position: relative;
  padding-top: 100px;
  padding-bottom: 173px;

  @media (max-width: map.get($screen-max-widths, lg)) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(45deg, rgba(215, 211, 221, 0.1) 14%, rgba(223, 212, 238, 0.1));
  }

  &-wrapper {
    position: relative;

    &__cone {
      position: absolute;
      top: 90px;
      left: -150px;
      z-index: -1;

      @media (max-width: map.get($screen-max-widths, lg)) {
        max-width: 200px;
        top: 130px;
        left: -120px;
      }

    }

    &__cylinder {
      position: absolute;
      max-width: 200px;
    }

    &__sphere {
      position: absolute;
    }

    &__sphere-small {
      position: absolute;
    }
  }

  &-title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
    font-size: 48px;
    line-height: 57px;

    @media (max-width: map.get($screen-max-widths, lg)) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &-list {
    width: 100%;

    .faq-item {
      @include flex(flex-start, space-between);
      flex-grow: 0;
      flex-shrink: 0;
      background: rgba(196, 196, 196, 0.1);
      border: 4px solid rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(20px);
      border-radius: 16px;
      padding: 50px;
      @media (max-width: map.get($screen-max-widths, sm)) {
        padding: 30px 40px;
      }

      &:not(:last-child) {
        margin-bottom: 40px;
        @media (max-width: map.get($screen-max-widths, lg)) {
          margin-bottom: 20px;
        }
      }

      &__content {
        @include flex(flex-start, flex-start);
        width: 80%;
        gap: 50px;

        @media (max-width: map.get($screen-max-widths, sm)) {
          flex-direction: column;
          gap: 20px;
        }

        .content__number {
          color: $accent-color;
        }

        .content-row {

          &__title {
            @include font('Rubik-Medium', normal, 24px, $color-dark);
            margin-bottom: 20px;

            @media (max-width: map.get($screen-max-widths, sm)) {
              font-size: 20px;
            }
          }

          &__description {
            @include font('Rubik-Regular', normal, 18px, $color-gray);
            line-height: 32.4px;

            @media (max-width: map.get($screen-max-widths, lg)) {
              font-size: 14px;
              line-height: 25.2px;
            }
            @media (max-width: map.get($screen-max-widths, sm)) {
              font-size: 12px;
              line-height: 21.6px;
            }
          }
        }


      }
    }
  }

}