@use "sass:map";

.welcome {
    padding-top: 160px;
    padding-bottom: 80px;
    
    @media (max-width: map.get($screen-max-widths, xl)) {
        padding-top: 60px;
        padding-bottom: 30px;
    }

}
