@use "sass:map";

.functions {
  position: relative;
  margin: 0 63px;
  min-height: 300px;

  @media (max-width: map.get($screen-max-widths, xl)) {
    margin: 0 23px;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -1;
    background: linear-gradient(45deg, rgba(215, 211, 221, 0.1) 14%, rgba(223, 212, 238, 0.1));
    border: 1px solid rgba(255, 255, 255, 0.12        );
    border-radius: 30px;
    backdrop-filter: blur(20px);
  }

  &-ball {
    content: '';
    position: absolute;
    right: 8%;
    top: -100px;
    bottom: 0;
    z-index: -2;

    @media (max-width: map.get($screen-max-widths, lg)) {
      max-width: 151px;
      top: -60px;
    }
  }
}