<footer class="footer">
    <div class="container">
        <div class="footer-row">
            <div class="footer-logo">
                <a href="/"><img src="assets/img/logo.webp" alt="logo" class="footer-logo__img"></a>
            </div>
            <div class="footer-menu">
                <ul class="footer-list">
                    <li class="footer-list__item footer-list__item_heading">
                        <a class="footer-link" href="#">Продукт</a>
                    </li>
                    <li class="footer-list__item">
                        <a class="footer-link"  href="#">Функции</a>
                    </li>
                    <li class="footer-list__item">
                        <a class="footer-link"  href="#">Преимущества</a>
                    </li>
                    <li class="footer-list__item">
                        <a class="footer-link"  href="#">Как использовать</a>
                    </li>
                </ul><!-- /.footer-list -->
                <ul class="footer-list">
                    <li class="footer-list__item footer-list__item_heading">Обратная связь</li>
                </ul><!-- /.footer-list -->
                <ul class="footer-list">
                    <li class="footer-list__item footer-list__item_heading">Политика конфиденциальности</li>
                </ul><!-- /.footer-list -->
            </div>
        </div>
    </div><!-- /.container -->
</footer>