<div class="container">
    <header class="header">
        <div class="logo-wrap">
            <a href="#"><img src="assets/img/logo.png" alt="logo" class="logo"></a>
        </div>
        <nav class="top-menu">
            <ul class="top-menu__list">
                <li class="top-menu__item"><a href="" class="top-menu__link">Функции</a></li>
                <li class="top-menu__item"><a href="" class="top-menu__link">Преимущества</a></li>
                <li class="top-menu__item"><a href="" class="top-menu__link">Как использовать</a></li>
                <li class="top-menu__item"><a href="" class="top-menu__link">Частые вопросы</a></li>
                <li class="top-menu__item language-toggler" id="language-toggler">
                    <button class="top-menu__link language-toggler__btn">
                        <span>RU</span>
                        <svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="m11.437 6-5-5-5 5" stroke="#565656" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <ul class="language-dropdown">
                        <li class="language-dropdown__item active">RU</li>
                        <li class="language-dropdown__item">ENG</li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
</div>
