<section class="hero">
    <img src="/assets/img/square.webp" alt="square" class="hero-square">
    <div class="container hero-row">
        <div class="hero-heading">
            <h1 class="hero-heading__title">
                Делайте снимки и записывайте экран <span>в 1 клик </span> 
            </h1>
            <p class="hero-heading__subtitle">
                Вместе со Screenshoter можно в один клик сделать снимок или записать происходящее на экране ПК,  чтобы поделиться с кем угодно
            </p>
            <button class="btn btn_violet">
                Скачать бесплатно
            </button>
        </div>
        <figure class="hero-image">
            <img src="/assets/img/hero-image.webp" alt="hero-image">
            <figcaption>Бесплатная программа для Windows</figcaption>
        </figure>
        <button class="hero-arrow">
            <svg width="25" height="46" viewBox="0 0 25 46" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.029 34.094a1.917 1.917 0 0 0-2.71 0l-6.966 6.96V1.916a1.916 1.916 0 1 0-3.833 0v39.115l-6.937-6.938A1.916 1.916 0 1 0 .873 36.8l7.512 7.511a5.749 5.749 0 0 0 8.132 0L24.03 36.8a1.917 1.917 0 0 0 0-2.706Z" fill="#C0A9F0"/></svg>
        </button>
    </div>
        



</section>
