<section class="useful">
    <div class="container">
        <div class="section-row">
            <h1 class="section-row__title title useful-title">
                <span>Screenshoter</span> полезен всем, кто работает в интернете
                <div class="useful-title__cloud">
                    Бесплатная программа для Windows
                </div>
            </h1>
            <p class="section-row__subtitle text">
                Согласовывайте рабочие вопросы, показывайте интересные вещи и
                обсуждайте любые темы. Делитесь комментариями с помощью бесплатного инструмента 2&nbsp;в&nbsp;1
            </p>
        </div> <!-- /.section-row -->

        <ul class="section-list">
            <li class="section-item">
                <div class="section-item__image section-item__image_star"></div>
                <span class="section-item__title">Без регистрации: не нужно вводить никаких персональных данных</span>
            </li><!-- /.section-item -->
            <li class="section-item">
                <div class="section-item__image section-item__image_shield"></div>
                <span class="section-item__title">Бесплатно, без скрытых платежей и комиссий</span>
            </li><!-- /.useful-item -->
            <li class="section-item">
                <div class="section-item__image section-item__image_cubes"></div>
                <span class="section-item__title">Неограниченное количество скриншотов и записей</span>
            <li class="section-item">
                <div class="section-item__image section-item__image_cloud"></div>
                <span class="section-item__title">Файлы хранятся в течение 1 года — вы можете удалить их в любое время </span>
            </li><!-- /.section-item -->
        </ul><!-- /.section-list -->
    </div><!-- /.container -->
</section>