<section class="join" id="join">
    <img src="assets/img/join/line.webp" alt="line" class="join-line">
    <div class="join-row">
        <div class="join-image">
            <img src="assets/img/join/cone.webp" alt="line" class="join-image__cone">
            <img src="assets/img/join/diskette.webp" alt="line" class="join-image__diskette">
        </div>
        <div class="join-description">
            <p class="join-description__text">Присоединяйтесь к 50 000 + пользователей,
                которые ежедневно используют Screenshoter в работе и личной переписке
            </p>
            <button class="btn btn_violet">Загрузить сейчас</button>
        </div>
        
    </div>
</section>