<section class="welcome">
    <div class="container">
        <div class="welcome-row">
            <h1 class="welcome-row__title title">
                Встречайте — скриншоты и запись экрана <span>2 в 1</span> 
            </h1>
            <p class="welcome-row__subtitle text">
                Больше не нужно искать две отдельные программы
                для скриншотов и записи экрана. Screenshoter поможет
                сделать <strong>снимок экрана, записать видео и поделиться</strong> им
                <strong> с кем угодно</strong>. Можно выделить весь экран, определенную
                область или активное окно.
            </p>
        </div> <!-- /.welcome-row -->
        
        <ul class="welcome-list">
            <li class="welcome-item">
                <div class="welcome-item__image welcome-item__image_arrow"></div>
                <span class="welcome-item__title">Снимок и запись экрана в 1 клик</span>
            </li><!-- /.welcome-item -->
            <li class="welcome-item">
                <div class="welcome-item__image welcome-item__image_diskette"></div>
                <span class="welcome-item__title">Моментальная ссылка на файл</span>
            </li><!-- /.welcome-item -->
            <li class="welcome-item">
                <div class="welcome-item__image welcome-item__image_puzzle"></div>
                <span class="welcome-item__title">Удобный редактор снимков</span>
            <li class="welcome-item">
                <div class="welcome-item__image welcome-item__image_heart"></div>
                <span class="welcome-item__title">Бесплатно и без регистрации</span>
            </li><!-- /.welcome-item -->
        </ul><!-- /.welcome-list -->
    </div><!-- /.container -->
</section>