<section class="features">
    <div class="container">
        <ul class="section-list features-list">
            <li class="section-item">
                <div class="section-item__image section-item__image_pencil"></div>
                <span class="section-item__title">Снимок и запись экрана в 1 клик</span>
            </li><!-- /.section-item -->
            <li class="section-item">
                <div class="section-item__image section-item__image_arrows"></div>
                <span class="section-item__title">Моментальная ссылка на файл</span>
            </li><!-- /.welcome-item -->
            <li class="section-item">
                <div class="section-item__image section-item__image_cubic"></div>
                <span class="section-item__title">Удобный редактор снимков</span>
            <li class="section-item">
                <div class="section-item__image section-item__image_drop "></div>
                <span class="section-item__title">Бесплатно и без регистрации</span>
            </li><!-- /.section-item -->
        </ul><!-- /.section-list -->
        <div class="features-row">
            <button class="btn btn_black">
                Скачать бесплатно
            </button>
        </div><!-- /.feature-row -->
    </div><!-- /.container -->
</section>