<section class="click">
  <img src="/libs/png-full/click/click-bg.png" alt="bg" class="click-bg">
  <div class="container">
    <div class="section-content">
      <div class="section-heading">
        <h1 class="section-heading__title title">В один клик</h1>
        <div class="section-subheading">
          <p class="section-subheading__subtitle text"><span>Не нужно запоминать комбинации клавиш</span>
            на клавиатуре, чтобы сделать скриншот или начать записывать видео с экрана.</p>
          <p class="section-subheading__subtitle text">Просто нажмите две кнопки мыши
            или настройте горячую кнопку на любую удобную клавишу</p>
        </div>

      </div>
      <div class="section-image">
        <img class="section-image section-image_right" src="assets/img/image-gif.webp" alt="image">
      </div>
    </div><!-- /.section-content -->
  </div><!-- /.container -->
</section>