<section class="capture" id="capture">
    <img src="/assets/img/capture/capture-line.webp" alt="line" class="capture-line">
    <img src="/assets/img/capture/capture-square.webp" alt="line" class="capture-square">
    <img src="/assets/img/capture/capture-blur.webp" alt="line" class="capture-blur">
    
    <div class="container">
        <div class="capture-content">
            <img src="/assets/img/capture/capture-image.webp" alt="gif" class="capture-image">
            <div class="capture-heading">
                <h1 class="capture-heading__title title">Запись экрана</h1>
                <div class="capture-subheading">
                    <p class="capture-subheading__subtitle text">
                        Недостаточно снимков? Запишите происходящее на экране со своим голосом или звуком системы. 
                    </p>
                    <p class="capture-subheading__subtitle text">
                        <span>Достаточно нажать две кнопки мыши,</span> выделить необходимую область и начнется запись видео
                        с экрана. Быстро и без сложных настроек
                    </p>
                </div>
                
            </div>
        </div><!-- /.capture-content -->
    </div><!-- /.container -->
</section> 