<section class="functions" id="functions">
    <img src="/assets/img/functions/ball.png" alt="ball" class="functions-ball">
    <div class="container">
        <h1 class="functions-title title"><span>Screenshoter</span> - это функции <br>
            на каждый день
        </h1>
        <ul class="functions-list">
            <li class="functions-item">
                <div class="item-icon">
                    <img src="/assets/img/functions/circle.webp" alt="circle" class="item-icon__image">
                </div>
                <div class="item-text">
                    <h2 class="text-title">
                        <span class="text-title__number">01.</span>
                        <span class="text-title__title">Обмен идеями</span>
                    </h2>
                    <p class="item-text__description">
                        Когда нужно что-то наглядно показать коллеге, исполнителю или заказчику —
                        можно сделать снимок экрана и добавить к нему комментарий.
                    </p>
                    <p class="item-text__description">
                        А если ситуация требует более детального объяснения — окей, не проблема.
                        Screenshoter поможет записать видео экрана вместе
                        с вашими голосовыми комментариями
                    </p>
                </div><!-- /.item-text -->
            </li>
            <li class="functions-item">
                <div class="item-icon">
                    <img src="/assets/img/functions/cube.webp" alt="cube" class="item-icon__image">
                </div>
                <div class="item-text">
                    <h2 class="text-title">
                        <span class="text-title__number">02.</span>
                        <span class="text-title__title">Создание инструкций</span>
                    </h2>
                    <p class="item-text__description">
                        Нужно что-то наглядно объяснить? Создавайте удобные, пошаговые инструкции, добавляя комментарии
                        и визуальные отметки в необходимом месте скриншота.
                    </p>
                    <p class="item-text__description">
                        Поделиться снимком или видеозаписью можно с помощью ссылки, которая мгновенно появляется в буфере обмена
                    </p>
                </div><!-- /.item-text -->
            </li>
            <li class="functions-item">
                <div class="item-icon">
                    <img src="/assets/img/functions/cone.webp" alt="cone" class="item-icon__image">
                </div>
                <div class="item-text">
                    <h2 class="text-title">
                        <span class="text-title__number">03.</span>
                        <span class="text-title__title">Обратная связь</span>
                    </h2>
                    <p class="item-text__description">
                        Если в процессе работы приложения, сайта или сервиса возникла ошибка, её можно моментально зафиксировать.
                    </p>
                    <p class="item-text__description">
                        Отправьте скриншот в техподдержку, где будет видно, в чем именно заключается проблема
                    </p>
                </div><!-- /.item-text -->
            </li>
        </ul><!-- /.functions-list -->
    </div>
</section>