<section class="link" id="link">
  <img src="/libs/png-full/link/link-bg.png" alt="bg" class="link-bg">
  <div class="container">
    <div class="section-content">
      <div class="link-image">
        <img src="/assets/img/image-gif.webp" alt="gif" class="section-image section-image_left">
        <div class="image-description">
          <p class="image-description__text text">
            <strong>Файлы хранятся в течение 1 года</strong> с момента
            создания. Можно их удалять самостоятельно.
            В истории программы доступны
            последние 5 скриншотов
          </p>
        </div>
      </div>

      <div class="section-heading link-heading">
        <h1 class="section-heading__title title">Мгновенная ссылка</h1>
        <div class="section-subheading">
          <p class="section-subheading__subtitle text">
            Мгновенное получение ссылки на снимок
            или видео. Вы только нажали Enter, а ссылка уже
            в буфере обмена. Перейдя по ссылке, можно будет посмотреть ваш снимок или записанное видео
          </p>
        </div>

      </div>
    </div><!-- /.section-content -->
  </div><!-- /.container -->
</section>