<section class="editor" id="editor">
    <img src="/assets/img/editor/editor-bg.png" alt="bg" class="editor-bg">
    <div class="container">
        <div class="section-content">
            <div class="section-heading">
                <h1 class="section-heading__title title">И редактор снимков</h1>
                <div class="section-subheading">
                    <p class="section-subheading__subtitle text"><span>Более 5 инструментов</span>
                        для редактирования. Выделяете область и редактируете.</p>
                    <p class="section-subheading__subtitle text">Если неверно выбрали область — не беда, можно без проблем её передвинуть и/или изменить размер,
                        не удаляя то, что уже нарисовано!</p>
                </div>
            </div>
            <div class="section-image">
                <img class="section-image section-image_right" src="assets/img/image-gif.webp" alt="image">
            </div>
        </div><!-- /.section-content -->
    </div><!-- /.container -->
</section>