<section class="faq" id="faq">
    <div class="container">
        <h1 class="faq-title title">faq</h1>
        <div class="faq-wrapper">
            <ul class="faq-list">
                <li class="faq-item">
                    <div class="faq-item__content">
                        <span class="content__number title">01.</span>
                        <div class="content-row">
                            <h2 class="content-row__title">Платная ли программа?</h2>
                            <p class="content-row__description" data-description="1">Нет, Screenshoter абсолютно бесплатный. Вам не нужно платить за скачивание, установку или использование программы — все функции бесплатные</p>
                        </div>
                    </div>
                    <div class="faq-item__toggler" data-toggler="1">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25 15H5" stroke="#131313" stroke-width="2" stroke-linecap="round"/>
                            <path d="M15 5V25" stroke="#131313" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                    </div>
                </li><!-- /.faq-item  -->
                <li class="faq-item">
                    <div class="faq-item__content">
                        <span class="content__number title">02.</span>
                        <div class="content-row">
                            <h2 class="content-row__title">Для каких платформ доступен Screenshoter?</h2>
                            <p class="content-row__description" data-description="2">Нет, Screenshoter абсолютно бесплатный. Вам не нужно платить за скачивание, установку или использование программы — все функции бесплатные</p>
                        </div>
                    </div>
                    <div class="faq-item__toggler" data-toggler="2">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25 15H5" stroke="#131313" stroke-width="2" stroke-linecap="round"/>
                            <path d="M15 5V25" stroke="#131313" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                    </div>
                </li><!-- /.faq-item  -->
                <li class="faq-item">
                    <div class="faq-item__content">
                        <span class="content__number title">03.</span>
                        <div class="content-row">
                            <h2 class="content-row__title">Чем Screenshoter отличается от других программ для создания скриншотов?</h2>
                            <p class="content-row__description" data-description="3">Нет, Screenshoter абсолютно бесплатный. Вам не нужно платить за скачивание, установку или использование программы — все функции бесплатные</p>
                        </div>
                    </div>
                    <div class="faq-item__toggler" data-toggler="3">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25 15H5" stroke="#131313" stroke-width="2" stroke-linecap="round"/>
                            <path d="M15 5V25" stroke="#131313" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                    </div>
                </li><!-- /.faq-item  -->
                <li class="faq-item">
                    <div class="faq-item__content">
                        <span class="content__number title">04.</span>
                        <div class="content-row">
                            <h2 class="content-row__title">Куда сохраняются скриншоты и видео?</h2>
                            <p class="content-row__description" data-description="4">Нет, Screenshoter абсолютно бесплатный. Вам не нужно платить за скачивание, установку или использование программы — все функции бесплатные</p>
                        </div>
                    </div>
                    <div class="faq-item__toggler" data-toggler="4">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25 15H5" stroke="#131313" stroke-width="2" stroke-linecap="round"/>
                            <path d="M15 5V25" stroke="#131313" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                    </div>
                </li><!-- /.faq-item  -->
                <li class="faq-item">
                    <div class="faq-item__content">
                        <span class="content__number title">05.</span>
                        <div class="content-row">
                            <h2 class="content-row__title">Можно ли удалить файлы с сервера в пару кликов?</h2>
                            <p class="content-row__description" data-description="5">Нет, Screenshoter абсолютно бесплатный. Вам не нужно платить за скачивание, установку или использование программы — все функции бесплатные</p>
                        </div>
                    </div>
                    <div class="faq-item__toggler" data-toggler="5">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25 15H5" stroke="#131313" stroke-width="2" stroke-linecap="round"/>
                            <path d="M15 5V25" stroke="#131313" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                    </div>
                </li><!-- /.faq-item  -->
            </ul><!-- /.faq-list  -->
            <img src="/assets/img/faq/cone.png" alt="cone" class="faq-wrapper__cone">
            <img src="/assets/img/faq/cylinder.png" alt="cylinder" class="faq-wrapper__cylinder">
            <img src="/assets/img/faq/sphere.png" alt="sphere" class="faq-wrapper__sphere">
            <img src="/assets/img/faq/sphere-small.png" alt="sphere" class="faq-wrapper__sphere-small">
        </div><!-- /.faq-wrapper -->
    </div><!-- /.container  -->
</section>